# =====================
# Python
# =====================
__pycache__/
*.pyc
.env
venv/

# =====================
# Mac
# =====================
.DS_Store

# =====================
# Node
# =====================
node_modules/

# =====================
# Logs
# =====================
*.log

# =====================
# AWS / secrets
# =====================
.env
*.pem

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# Build
# =====================
dist/
build/